<div class="landing-wrapper">
  <div class="landing-header" [ngStyle]="{'background-image': 'linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)), url(' + currentBackgroundImage + ')'}">
    <div class="landing-header-content">
      <h1>Open Typing</h1>
      <p>Practice your typing with <i><strong>real</strong></i> code snippets!</p>
    </div>
    <div class="landing-header-button">
      <button mat-raised-button color="warn">
        <mat-icon>start</mat-icon>
        Start
      </button>
    </div>
  </div>
</div>
