.landing-wrapper {
  .landing-header {
    display: flex;
    flex-flow: column;
    font-size: 2rem;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 600px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 1s ease-in-out;

    .landing-header-content {
      color: white;
    }
  }
}
