.custom-card {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card-content {
  display: flex;
  flex-direction: row;
}

.side-image {
  width: 150px;
  height: auto;
  margin-right: 16px;
}

mat-card-content {
  flex: 1;
}
