@use '@angular/material' as mat;
@use './app/styles/m3-theme.scss' as m3-theme;


@include mat.core();

$material-test-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$cyan-palette,
    tertiary: mat.$red-palette,
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes(m3-theme.$light-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
